body {
	padding: 0;
	margin: 0;
	overflow: hidden;
	background: 
	linear-gradient(
		rgba(128, 180, 231, 0.4),
		rgba(128, 180, 231, 0.4)
		),
	url(bg.jpg); 
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-attachment:  fixed; 
  	background-size: cover;
}

h1 {
	position: relative;
	top: 250px;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Luckiest Guy', cursive;
	font-size: 72px;
/*	letter-spacing: 4px;
*/	text-shadow: 3px 3px 6px #000;
	color: white;
	margin: 0;
}

.wrapper {
    text-align: center;
}

#random {
	position: relative;
	top: 250px;
	margin: 15px;
	text-transform: uppercase;
	text-align: center;
	font-family: 'Luckiest Guy', cursive;
	font-size: 35px;
	background-color: #f0ed63;
	color: black;
	box-shadow: 3px 3px 6px black;
	padding: 30px;
	border: none;
	transition: 500ms background-color ease-in, 500ms color ease-in;
}

#random:hover {
	background-color: #C2BF50;
}

#coord {
	position: relative;
	top: 250px;
	margin: 15px;
	text-transform: uppercase;
	text-align: center;
	font-family: 'Luckiest Guy', cursive;
	font-size: 35px;
	background-color: #f0ed63;
	color: black;
	box-shadow: 3px 3px 6px black;
	padding: 30px;
	border: none;
	transition: 500ms background-color ease-in, 500ms color ease-in;
}

#coord:hover {
	background-color: #C2BF50;
}

#text {
	position: relative;
	top: 250px;
	margin: 15px;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Luckiest Guy', cursive;
/*	letter-spacing: 4px;
*/	text-shadow: 3px 3px 6px #000;
	font-size: 72px;
	color: #f0ed63;
}

@media(max-width: 743px) {
	h1, #random, #coord, #text {
		top: 175px;
	}
}

@media(max-width: 600px) {
	h1, #random, #coord, #text {
		top: 175px;
		transform: scale(0.9);
	}
}


@media(max-width: 498px) {
	h1, #random, #coord, #text {
		top: 125px;
		transform: scale(0.8);
		margin: 0px;
	}
}

@media(max-width: 480px) {
	h1, #random, #coord, #text {
		top: 80px;
		transform: scale(0.7);
		margin: 0px;
	}
}
